.StackIcons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    .text{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        h2{
            color: #42446E;
            text-align: center;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
        }
        p{
            color:  #666;
            text-align: center;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            word-spacing: 5px;
            line-height: 26px; /* 81.25% */
        }
    }
    .Images{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 60px;
        width: 60%;
        span{
            display: flex;
            width: 70px;
            height: 70px;
            img{
                width: 100%;
                display: block;
                filter:drop-shadow(10px 5px 5px rgb(146, 146, 146));
            }
        }
    }
}