
    *{
        margin: 0;
        padding: 0;
        border: 0;
        box-sizing: border-box;
        vertical-align: baseline;
        background: transparent;
        font-weight: normal;
        text-decoration: none;
        outline: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        &::-webkit-scrollbar{
            display: none;
        }
        button{
            cursor: pointer;
        }
    }
    body{
        font-family: sans-serif ;
        
        
    }
    .wrapper {
        width: 90%;
        margin: 0 auto;
    }
    .portfolio{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 90px;
        // font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        .footer{
            width: 100%;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            p{
               color: rgba(102, 102, 102, 1);
               font-weight: 500;
              font-size: 10px;
               cursor: pointer;
            }
        }
    }
