.Projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
}
.Projects .Title {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Projects .Title h2 {
  color: #42446E;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 54.167% */
}
.Projects .Title p {
  color: #666;
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 81.25% */
}
.Projects .projectSection {
  display: flex;
  gap: 30px;
  width: 90%;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.Projects .projectSection .projectcard {
  display: flex;
  flex-direction: column;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
  max-width: 310px;
  min-width: 400px;
  min-height: 400px;
  max-height: 550px;
  overflow: hidden;
  border-radius: 10px;
}
.Projects .projectSection .projectcard h2 {
  width: -moz-fit-content;
  width: fit-content;
  height: 28%;
}
.Projects .projectSection .projectcard h2:hover img {
  scale: 1.1;
  transition: 0.2s ease-in;
}
.Projects .projectSection .projectcard h2 img {
  width: 100%;
  display: block;
}
.Projects .projectSection .projectcard .projectinfo {
  padding: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 350px;
  gap: 10px;
  padding: 25px;
}
.Projects .projectSection .projectcard .projectinfo .title {
  color: #000;
  text-align: left;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}
.Projects .projectSection .projectcard .projectinfo .info {
  color: #666;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
}
.Projects .projectSection .projectcard .projectinfo .stack {
  display: flex;
  gap: 3px;
  align-items: center;
  width: 300px;
}
.Projects .projectSection .projectcard .projectinfo .stack .title {
  color: #42446E;
  justify-content: flex-start;
  align-self: flex-start;
  width: 30%;
  font-size: 16px;
  font-style: normal;
  font-weight: 580;
  line-height: 26px;
}
.Projects .projectSection .projectcard .projectinfo .stack .items {
  display: flex;
  align-self: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  width: 54%;
}
.Projects .projectSection .projectcard .projectinfo .stack .items p {
  color: #42446E;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.Projects .projectSection .projectcard .projectinfo .link {
  display: flex;
  justify-content: space-between;
}
.Projects .projectSection .projectcard .projectinfo .link p {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  text-decoration-line: underline;
  cursor: pointer;
  gap: 5px;
}
.Projects .projectSection .projectcard .projectinfo .link p i {
  display: flex;
  width: 18px;
  height: 18px;
}
.Projects .projectSection .projectcard .projectinfo .link p i img {
  width: 100%;
  display: block;
}/*# sourceMappingURL=project.css.map */